.quote-container {
    margin-top: 20px;
    margin-left: 40px;
  
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-gap: 20px;
  }